*{
    margin: 20px;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


.interact{
    display: flex;
    justify-content: space-around;
}

.boxes{
    height: 80px;
    width: 100px;
    background-color: yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    overflow: hidden;
}

.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 2em;

}
button{
    height: 70px;
    width: 70px;
}